* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centre {
    width: 1200px;
    margin: auto;
    border: 2px solid red;
}

header {
    height: 41px;
    background-color: black;
}

.lightblue {
    color: aquamarine;
}

.menu_buttons {
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    position: relative;
}

.menu_buttons:last-child {
    padding-right: 75px;
}

.subnav-list {
    position: absolute;
    list-style: none;
    left: -5px;
    right: -15px;
    border-top: 0;
    padding-top: 20px;
    display: none;
    z-index: 2;
}

.subnav-list__link {
    text-transform: none;
    text-decoration: none;
    color: white;

}

.subnav-list__item {
    padding: 5px 0 5px 10px;
    z-index: 2;
    position: relative;
    background-color: black;
}

.subnav-list__item:first-child {
    padding-top: 15px;
}

.subnav-list:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: black;
    right: 45px;
    top: 17px;
    z-index: 1;
    transform: rotate(45deg);
}

.menu_buttons:hover > .subnav-list {
    display: block;
}

.table {
    list-style: none;
}

h4 {
    color: white;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 50px;
}

.nav {
    text-decoration: none;
    color: white;
}
div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backgroound_1 {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 61%, rgba(166,161,166,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(61%, rgba(246,246,246,1)), color-stop(100%, rgba(166,161,166,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 61%, rgba(166,161,166,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 61%, rgba(166,161,166,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 61%, rgba(166,161,166,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 61%, rgba(166,161,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a6a1a6', GradientType=0 );
    height: 505px;
    position: relative;
}

.chair {
    background-image: url('../images/black_chair.png');
    width: 420px;
    height: 420px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 68px;
    left: 112px;
}

.text {
    display: flex;
    width: 420px;
    position: absolute;
    right: 230px;
    bottom: 210px;
}

.text_inside {
    text-align: center;
    padding: auto;
}

.header {
    text-transform: uppercase;
    position: absolute;
    right: 250px;
    bottom: 320px;
}

.header h1 {
    font-size: 40px;
}

.button {
    position: absolute;
    right: 295px;
    bottom: 124px;
}

.button_style {
    color: white;
    background-color: aquamarine;
    border-radius: 10px;
    height: 55px;
    width: 270px;
    text-transform: uppercase;
    font-size: 25px;
}

.foto {
    display: flex;
    justify-content: space-around;
    padding: 28px 70px 60px 65px;

}

.foto_item {
    display: inline-block;
    width: 33%;
    padding-bottom: 30px;
}


.foto_item:last-child {
    border: 1px solid grey;
    padding: 20px;
}

#foto_item-title {
    font-weight: bold;
    border-bottom: 7px solid aquamarine;
    width: max-content;
}

.foto_item-text {
    padding: 15px 5px 15px 0;
}

.none {
    color: white;
}

.offers {
    height: 600px;
    background-color: lavender;
}

.choice_title {
    text-transform: uppercase;

}














footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.footer-item1 {
    color: grey;
    width: 30%;
    justify-content: flex-start;
}

.footer-item2 {
    width: 55%;
    justify-content: flex-end;
}

.footer-item3 {
    color: grey;
    text-transform: uppercase;
    justify-content: flex-end;
    border: 1px blue solid;
    width: 15%;
}

.bold {
    font-weight: bold;
}

.footer-item2_class {
    display: flex;
    align-items: flex-end;
}